<nav>
  <a href="/">back</a>
</nav>

<h1>Convert <%= @from %></h1>

<ul>
  <% @targets.each do |to| %>
    <li>
      <a href="/<%= @from %>/<%= to %>">
        Convert 1 <%= @from %> to <%= to %>...
      </a>
    </li>
  <% end %>
</ul>
