<nav>
  <a href="/">← Go back</a>
</nav>

<h2>Convert <%= @from %></h2>
<p class="contrast">Pick a target currency:</p>

<ul>
  <% @targets.each do |to| %>
    <li>
      <a href="/<%= @from %>/<%= to %>">
        Convert 1 <strong><%= @from %></strong> to <strong><%= to %></strong>…
      </a>
    </li>
  <% end %>
</ul>
