<nav><a href="/">back</a></nav>
<h1>Convert <%= @from %></h1>

<ul>
  <% @currencies.keys.sort.each do |to| %>
    <% next if to == @from %>
    <li>
      <a href="/<%= @from %>/<%= to %>">
        Convert 1 <%= @from %> to <%= to %>...
      </a>
    </li>
  <% end %>
</ul>
